<p>
  <div class="container">
    <div class="jumbotron" id="jumbo">
      <h3 class="display-4">Welcome to my BLOG!!!</h3>
      <p class="lead">Click on the button below if you want to find more</p>
      <hr class="my-4">
      <%= link_to 'Check it out', posts_path, class: 'btn btn-outline-success' %>
    </p>
